body {
    margin: 0;
    background: rgb(84, 49, 49);
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#myCanvas {
    background-color: rgb(50, 50, 43);
}