body {
    margin: 0;
    background: rgb(182, 106, 106);
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#myCanvas {
    background-color: rgb(138, 138, 109);
}